.card__services
  width: 100%
  max-width: 370px
  padding: 0 16px 0 18px
  display: flex
  justify-content: space-between
  margin-bottom: 22px  

.checkbox
  display: flex

.checkbox__checkbox
  position: absolute
  appearance: none

.checkbox__picture,
.checkbox__text
  display: inline-flex
  width: 44px
  height: 24px
  font-size: 1em
  line-height: 24px
  color: #fff
  margin-right: 8px

.checkbox__picture    
  background-image: url(../img/Unchecked.png)

.checkbox__checkbox:checked + .checkbox__picture
  background-image: url(../img/Checked.png)  

.checkbox__checkbox:focus + .checkbox__picture
  box-shadow: 0 0 15px rgba(0, 0, 0, .6)

.card__reminder
  font-size: 1em
  line-height: 24px
  color: #ffffff
  text-decoration: underline
  padding: 0 10px
  border-radius: 12px
 
 