.card
  width: 90%
  max-width: 626px
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  border: 1px solid rgba(255, 255, 255, .4)
  border-radius: 5px
  background: no-repeat center center fixed
  background-image: linear-gradient(rgba(255, 255, 255, .2)), url("../img/main_BG_blure.jpg")
  padding: 34px 30px 44px 30px
  box-shadow: 0 0 32px 0 rgba(0, 0, 0, .5)
   
.card__backlink
  align-self: flex-start
  color: #f2f2f2
  text-decoration: none
  margin-bottom: 10px
  margin-left: 20px
  position: relative
  font-size: 0.625em
  line-height: 0.688em
  letter-spacing: 1px
  text-transform: uppercase
  opacity: 0.8
  transition: 0.3s

.card__backlink:hover
  opacity: 1
  transition: 0.3s

.card__backlink::before
  content: ''
  position: absolute
  background-image: url("../img/Arrow.png")
  width: 15px
  height: 9px 
  top: 0
  left: -20px

.card__logo
  width: 96px
  margin-bottom: 22px

.card__form
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.card__input,
.card__button 
  width: 70%
  height: 48px
  max-width: 370px
  border: 1px solid rgba(255, 255, 255, .4)
  border-radius: 24px
  margin-bottom: 16px
  background-color: transparent
  font-size: 1.125em
  letter-spacing: 5px
  line-height: 48px
  color: #fff
  transition: .3s
  text-align: center

.card__input:hover,
.card__input:focus
  background-color: #f2f2f2
  color: #000
  transition: .3s  

.valid
  background: url("../img/input-good-marker.png") no-repeat
  background-position: 95% center

.invalid
  background: url("../img/input-bad-marker.png") no-repeat
  background-position: 95% center

.card__button
  max-width: 150px
  margin-bottom: 0
  font-size: 0.75em
  font-weight: 500
  letter-spacing: 2.5px
  text-transform: uppercase

.card__button:not([disabled]):hover,
.card__button:focus
  background-color: #f2f2f2
  color: #000
  transition: .3s
  cursor: pointer
  
.card__button:disabled,
  opacity: 0.3  

input::placeholder
  color: rgba(255, 255, 255, 0.4)
  letter-spacing: 0.1px

input:hover::placeholder,
input:focus::placeholder,
  color: rgba(0, 0, 0, 0.4)

.noscript
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.noscript__text
  color: #fff
  margin: 20px auto  