@import "normalize"

* 
  padding: 0
  margin: 0
  box-sizing: border-box
  outline: none

*:focus
  box-shadow: 0 0 15px rgba(0, 0, 0, .6) 

body
  font-family: 'Helvetica Neue', 'Roboto', sans-serif
  font-size: 16px
  font-weight: normal
  background-color: #383333
  
.wrapper
  width: 100%
  max-width: 1330px
  margin: -5px auto
  height: 100vh
  max-height: 930px
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center
  background: no-repeat center center fixed
  background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5) ), url("../img/main_BG.jpg")  

@import "card"   
@import "card__services"
@import "media-queries"
3333